<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demande de Stage</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <p>Madame, Monsieur,</p>

      <p>
        Je me permets de vous contacter afin de vous soumettre ma candidature
        pour un stage de Projet de Fin d’Études en tant que Développeur
        d’Applications Web et Mobile au sein de votre entreprise.
      </p>

      <p>
        Actuellement en dernière année du cycle ingénieur en Développement
        d’Applications Web et Mobiles à l’École d’Ingénierie Digitale et
        d’Intelligence Artificielle de l’Université Euromed de Fès, je recherche
        un stage de cinq à six mois qui me permettrait de mettre mes compétences
        techniques et mon engagement au service de votre organisation.
      </p>

      <p>
        Ma formation académique et mes expériences professionnelles m'ont permis
        d'acquérir de solides compétences en technologies telles que JavaScript, React.js,  Node.js, PHP, Symfony, Python, Django, Java, Spring Boot et Flutter.
        Lors de mes stages chez ..... , j'ai contribué au développement de solutions innovantes, ce qui a renforcé
        mes compétences en gestion de projets et en résolution de problèmes
        complexes.
      </p>

      <p>
        Je suis convaincu que mon sens de l’initiative, ma motivation et ma
        capacité d’adaptation me permettraient de contribuer efficacement à vos
        projets, tout en acquérant une expérience précieuse au sein de votre
        équipe.
      </p>

      <p>
        Vous trouverez en pièce jointe mon CV pour plus de détails sur mon
        parcours et mes compétences. Je reste à votre disposition pour toute
        information complémentaire ou pour convenir d’un entretien à votre
        convenance.
      </p>

      <p>
        Dans l’attente de votre retour, je vous prie d’agréer, Madame, Monsieur,
        l’expression de mes salutations distinguées.
      </p>
      Cordialement,<br />

      <p>
        <strong>Nom & Prenom</strong><br />
        <span style="color: gray">Software Engineer</span><br />
        <span style="color: gray">+212 0000000</span><br />
        <a href="mailto:test@gmail.com" style="color: gray"
          >test@gmail.com</a
        >
      </p>
    </div>
  </body>
</html>
